services:
  grafana:
    extends:
      file: .config/docker-compose-base.yaml
      service: grafana
    build:
      args:
        anonymous_auth_enabled: ${ANONYMOUS_AUTH_ENABLED:-false}
        grafana_image: ${GRAFANA_IMAGE:-grafana}
        grafana_version: ${GRAFANA_VERSION:-12.3.0}
    environment:
      GF_LOG_FILTERS: plugin.ricoberger-kubernetes-datasource:debug
      GF_LOG_LEVEL: error
      GF_AUTH_BASIC_ENABLED: true
    volumes:
      - ./kubeconfig.yaml:/kubeconfig.yaml
    extra_hosts:
      - host.docker.internal:host-gateway
